<div class="container">
  <div class="card-body">
    <div class="formstyle">
<form class="example-form" #submitForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <mat-form-field class="example-full-width">
    <mat-label>Enter User Name</mat-label>
    <input type="text" matInput formControlName="usernameControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="formControl.usernameControl.errors?.specialChar && !formControl.usernameControl.errors?.required">
      {{formControl.usernameControl.errors['specialChar']}}
    </mat-error>
    <mat-error *ngIf="formControl.usernameControl.errors?.required">
      User name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Enter Password</mat-label>
    <input type="password" matInput formControlName="passwordControl" [errorStateMatcher]="matcher">
    
    <mat-error *ngIf="formControl.passwordControl.errors?.passwordStrength && !formControl.passwordControl.errors?.required">
      {{formControl.passwordControl.errors['passwordStrength']}}
    </mat-error>
    <mat-error *ngIf="formControl.passwordControl.errors?.required">
      Password is <strong>required</strong>
    </mat-error>
    
  </mat-form-field>
  
 <br>
  <button type="submit"  [disabled]="!form.valid">Submit</button>  
</form>
</div>
</div>
</div>